@page "/"
@using System.Globalization

<PageTitle>Home</PageTitle>
<div style="display:flex; flex-direction:column; height:100%;">

    <h1>Hello, world!</h1>
    <Chart Style="flex:1;">
        <Title Text="Chart"></Title>
        <Legend></Legend>
        @foreach (var item in _data.GroupBy(x => x.Name))
        {
            var name = item.Key;
            var data = item.ToList();
            <Series T="ChartData" Data="@data" Name="@name" CategoryField="x=>x.Category" ValueField="x=>x.Value"></Series>
        }
    </Chart>
</div>

@code
{
    class ChartData
    {
        public string? Name { get; set; }

        public string Category { get; set; } = "";

        public int Value { get; set; }
    }

    List<ChartData> _data = new List<ChartData>();

    protected override void OnInitialized()
    {
        _data = new List<ChartData>();
        var random = new Random();
        for (int i = 0; i < 12; i++)
        {
            _data.Add(new ChartData()
                {
                    Name = "Email",
                    Category = new DateTime(2021, i + 1, 1).ToString("MMM"),
                    Value = random.Next(i * 10 + 10, i * 100 + 100)
                });
            _data.Add(new ChartData()
            {
                Name = "QQ",
                Category = new DateTime(2021, i + 1, 1).ToString("MMM"),
                Value = random.Next(i * 10 + 10, i * 100 + 100)
            });
            _data.Add(new ChartData()
            {
                Name = "WeChat",
                Category = new DateTime(2021, i + 1, 1).ToString("MMM"),
                Value = random.Next(i * 10 + 10, i * 100 + 100)
            });
        }

        StateHasChanged();
        base.OnInitialized();
    }
}
